html{
    background-color: goldenrod;
    background-image: url(../img/coin\ img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
 .menu ul{
     display: inline-block;
     margin: 0px;
    }
   .menu ul li {
        width: 120px;
        list-style: none;
        margin: 0 20px;
        color: white;
        cursor: pointer;
        display: inline-flex;
        font-size: 20px;
        float: left;
        position: right;
        align: center;
    }    
    form{
        text-align: center;
        margin: 20px;
        width: -135px;
        text-shadow: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        line-height: 30px;
        height: 29px;
        text-decoration: aqua;
    }
    .img-container {
        text-align: center;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        height: 400px;
        opacity: 18;
        border-image: 25px;
    }
    h2{
        text-align: center;
        text-decoration: greenyellow;
        text-shadow: lawngreen;
        color: rgba(255, 0, 0, 0.822);
    }
    div.box{
        text-align: center;
        opacity: .8;
        border-top: 2px;
        border-radius: 30px;

    }
    input{ font-size: 15px;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        background-color:red;
        background-image: url(../img/coin\ image2.jpg);
        opacity: 10;
        border-radius: 200px;
        border-color: lime;
        border-style: hidden;
        border-width: 10px;
        padding: 10px;
        line-break: auto;
    }
    .login-btn{
        text-decoration: none;
        color: white;
        border:white;
        border-radius: 30px;
         background-image:linear-gradient(#42455a,#42455a)radial-gradient(circle at top left,#fd00da,#19d7f8);
         background-origin: border-box;
         background-clip: content-box,border-box;
         padding: 20px;
         background-color:green;
         font-size: 16px;
    }
    .h1{
        width: 80%;
        height: 70%;
        top: 25%;
        left: 130%;
        position: absolute;
        color: white;
    }
    .app-text{
        width: 50%;
        float: left;
    }